h1{
    color:pink;
    font-size: 60px;
    text-align:center;
    
}
body{
    background-color: blue;
    font-family: arial;
    background-image: url("http://s7.favim.com/orig/150329/emoji-emoji-background-Favim.com-2605394.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
    text-align:center;
}


li {
    display:inline;
}